<%- include ('./partials/header') %>
<body>
  <div class="container" onload="test()">
    <h1 class="animate__animated">  
      <a class="logout" href="#" onclick="logout()"><</a>
      i<img class="logo-moon"src="/img/moon.png" alt="moon">Chat
    </h1>

      <div id="chat">
        
      </div>
      <div class="card-message">
        <input type="text" id="message">
        <button onclick="sendMessage()">></button>
      </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script src="/js/socketio.js"></script>
<%- include ('./partials/footer') %>