<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.io</title>
</head>
<body>

  <input type="text" id="word" oninput="send()">
  <button onclick="send()">Send</button>
  <hr>
  <p id="result"></p>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>

<script>
  let socket = io("http://localhost:3030");

  socket.on('disconnect', () => {
    console.log('disconnected!');
  });

  socket.emit('connected', () => {
    console.log('connected');
  });

  socket.on('result', data => {
    let paragraph = document.getElementById('result');
    paragraph.innerHTML = data;
  });

  function send(){
    let input = document.getElementById('word');
    socket.emit('word', {message: input.value});
  }
</script>

</html>