<%- include ('./partials/header') %>
<body>
  <img class="bg-img animate__animated animate__rotateInDownRight animate__slower" src="/img/login-bg.svg" alt="login-img">
  <div class="login-container">
      <h1 class="animate__animated animate__jello animate__slower">
        
        i<img class="logo-moon"src="/img/moon.png" alt="moon">Chat
      </h1>

      <p class="animate__animated animate__flipInX animate__slow animate__delay-1s">To access the live chat, <span> create your username first</span>, then login!</p>

      <input class="input-username animate__animated animate__lightSpeedInLeft animate__slow"type="text" id="username" placeholder="John Doe" required>

      <button class="login animate__animated animate__lightSpeedInRight animate__slow" onclick="login()">Login</button>

      <img class="footer-img animate__animated animate__jackInTheBox animate__slower animate__delay-1s"src="/img/colaboration.svg" alt="colaboration-img">  
  </div>
</body>
<%- include ('./partials/footer') %>